.quiz-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#quiz-card-image-placeholder {
}
.quiz-button-hard  {
  background-color: lightcoral;
}
.quiz-button-medium {
  background-color: lightyellow;
}
.quiz-button-easy {
  background-color: lightgreen;
}
.quiz-button-hide {
  background-color: lightgrey;
}

.quiz-card-data-sheet {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  & > div {
    flex: 1;
  }
}

.quiz-card-data-sheet-middle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}